/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Universal reset
**************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ********************** */


/* Set global style
**************************** */

html{
    font-size: 10px;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color:#777;
    padding: 3rem;
}

/* ************************** */

.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgb(102, 155, 188,0.8),
        rgb(41, 51, 92,0.8)),
        url("../img/constr/main-headerv2.jpg");
    background-size: cover;
    background-position: top;/*top stays same*/
    clip-path: polygon(0 0, 100% 0, 100% 85vh , 0 100%);
    /* clip-path: polygon(0 20%, 50% 0,100% 20%, 90% 20%, 90%  100%, 10% 100%, 10% 20%); */
    /* clip-path: polygon(0 5%, 50% 0,100% 5%, 98% 5%, 98%  100%, 10% 100%, 10% 11%); */
    position: relative;
}


.logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo{
   height: 3.5rem;
}

.heading-primary{
    color:#fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 4rem;
}

.heading-primary-main{
    display: block;
    font-size: 5.4rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: 1.5s  ease-out moveInLeft 1.2s;
}

@keyframes moveInLeft{
    from {
        opacity: .5;
        transform: translateX(-10rem)
    }
    to { 
        opacity: 1;
        transform: translateX(0%);
    }
}

.heading-primary-sub{
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation: 1.5s ease-out moveInRight 1.2s;
}

@keyframes moveInRight{
    from {
        opacity: .5;
        transform: translateX(10rem);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }

}

.text-box{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 4rem;
    display: inline-block;
    border-radius: 1rem;
    transition: transform .1s;
    position: relative;
}

.btn:hover{
    transform: translateY(-.2rem);
    box-shadow: 0 .8rem 2rem rgba(0,0,0,.3);
}

.btn:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .6rem 1rem rgba(0,0,0,.2);
}

.btn-orange{
    background: #f3a712;
    color: #29335c;
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .1s;
}

.btn-orange::after{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
}

.btn:hover::after{
    transform: scale(1.4);
    opacity: 0;
}