@mixin btn-default {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 4rem;
    display: inline-block;
    border-radius: 1rem;
    transition: transform .1s;
    position: relative;
    font-size: $font-size-normal;

    // for button tag
    border: none;
    cursor: pointer;
}

@mixin work-bg {
    background-position: top;/*top stays same*/
    background-size: cover;
    height: 100%;
}

@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}


// Media queries 
// 0-600
// 600-900
// 900-1200

@mixin phone {
    @media screen and (max-width:600px){ @content};
}

// breakpoint
// phone, tabP, tabL

// order - base + typography > general layout > grid > page layout > components


@mixin respond($breakpoint){
    @if $breakpoint == phone {
        @media (max-width:37.5em){ @content };//600px
    }
    @if $breakpoint == tabP {
        @media (max-width:56.25em){ @content };//900px
    }
    @if $breakpoint == tabL {
        @media (max-width:75em){ @content };//1200px
    }
}