// Colors
$color-main: #777;
$color-blue-light: #669bbc;
$color-blue-dark: #29335c;
$color-white: #fff;
$color-black: #000;
$color-orange: #f3a712;
// $color-orange: yellow;
$color-purple: #29335c;
$color-grey-light: #f7f7f7;

// grid
$grid-width:114rem;
$grid-margin-bottom: 4rem;
$grid-margin-side: 2rem;

//fonts
$font-size-normal: 1.6rem;