// Colors
$color-main: #777;
$color-blue-light: #669bbc;
$color-blue-dark: #29335c;
$color-white: #fff;
$color-black: #000;
$color-orange: #f3a712;
$color-orange-dark: #e45722;
$color-grey-light: #f7f7f7;
$color-grey-light2: #f9f9f9;

// grid
$grid-width:114rem;
$grid-margin-bottom: 4rem;
$grid-margin-bottom-small: 3rem;
$grid-margin-side: 6rem;

// form
$form-margin-bottom: 2rem;

//fonts
$font-size-normal: 1.6rem;