.story{
    width: 75%;
    background: rgba($color-white, 0.15);
    margin: 0 auto;
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.15);
    border-radius: 2px;
    padding: 4rem;
    padding-left: 7rem;
    font-size: 1.5rem;
    color: black;
    transform: skewX(-12deg);

    @include respond(tabP){
        width: 100%;
        transform: skewX(0deg);
    }
    
    & > *{
        transform: skewX(12deg);
        @include respond(tabP){
            transform: skewX(0deg);
        }
    }

    &:hover &__caption{
        opacity: 1;
    }

    &:hover &__image{
        transform: translateY(-1rem) scale(1);
        filter: blur(.3rem) brightness(80%);
    }
    
    
    @include clearfix;
    &__shape{
        height: 15rem;
        width: 15rem;
        background: pink;
        float: left;
        transform: translateX(-3rem) skewX(12deg);
        // clip-path: inset(100%); //Remember for images
        position: relative;
        overflow: hidden;
        

        @include respond(tabP){
            transform: translateX(-3rem) skewX(0deg);
            border-radius: 50%;
        }
    }
    
    &__image{
        width: 100%;
        transform: translateY(0rem) scale(1.05);
        transition: all .3s ease-in-out;
        z-index: inherit;
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.8rem;
        color: $color-white;
        text-align: center;
        opacity: 0;
        transition: all .3s ease-in;
    }
}