.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(#669bbc, 0.8),
        rgba(#29335c, 0.8)),
        url("../../img/constr/main-headerv2.jpg");
    background-size: cover;
    background-position: top;/*top stays same*/
    // clip-path: polygon(0 0, 100% 0, 100% 85vh , 0 100%);
    /* clip-path: polygon(0 20%, 50% 0,100% 20%, 90% 20%, 90%  100%, 10% 100%, 10% 20%); */
    /* clip-path: polygon(0 5%, 50% 0,100% 5%, 98% 5%, 98%  100%, 10% 100%, 10% 11%); */
    position: relative;

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__contact-box{
        position: absolute;
        right: 10rem;
        top: 2rem;
        padding: 1rem 2rem;
        border-radius: .2rem;
        background: linear-gradient(105deg, 
                                rgba($color-white,.2) 0%,
                                rgba($color-white,.2) 50%,
                                rgba($color-blue-light,.2) 50%);
        box-shadow: 0rem 1.5rem 3rem rgba($color-black, 0.1);

        @include respond(tabP){
            // left: 4rem;
            right: 50%;
            top: 80%;
            // background: none;
            transform: translateX(50%);
            // width: 55%;
        }

        .contact-box__email, .contact-box__phone{
            font-size: 1.6rem;
            color: $color-white;
            display: block;
            letter-spacing: .2rem;
        }
    
    }

    &__logo{
        height: 3.5rem;
    }

    &__text-box{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}






